Return status code 503 if a service is (temporary) unavailable

Derived from #6. The service should return a `503 Service Unavailable` if it's temporary unavailable (e.g. due to scheduled maintenance). If this is the case, a common practice is to return a `Retry-After` response header ([RFC7231, Section 7.1.3](https://tools.ietf.org/html/rfc7231#section-7.1.3)) with an indication on how long the service remains unavailable.

This is fixed in the current spec.