Federated sharing: sending a share offer status code 200

This should be a `201 Created` ([RFC7231, Section 6.3.2](https://tools.ietf.org/html/rfc7231#section-6.3.2)) containing a `Location` response header to the new record, e.g. `/cloud/shares/{remoteId}`.  Common practice is to return the new record in the response as well, so the client can consume the new record without having to perform a new request (e.g. to save the created `remoteId`).

This is fixed in the current spec.