(Wrong) usage of status code 503

The federated sharing module uses status code 503 to indicate that the module isn't available at the
specific endpoint.

1. This should be a `501 Not Implemented` ([RFC7231, Section 6.6.2](https://tools.ietf.org/html/rfc7231#section-6.6.2)) instead of a `503 Service Unavailable`, because the latter "indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance" ([RFC7231, Section 6.6.4](https://tools.ietf.org/html/rfc7231#section-6.6.4)).
1. It would be a good idea to use this status code for the other modules as well to indicate whether it's available.

Fine with me but IMO we should also have a 503 status code since the service may be in an upgrade situation and consumers should be able to detect such a situation.

Definitely!

This is fixed in the current spec.